@import '../../../styles/variables';
.NavBar {
  display: block;

  #snakeLogo {
    height: 100px;
  }

  #googleLogo {
    height: 20px;
  }

  .logInButton {
    padding: 10px;
  }

  .logOutButton {
    margin-left: 8px;
  }

  .fixed-top {
    box-shadow: 0 10px 10px rgb(77, 77, 77);
    background-image: linear-gradient(lightgray, rgb(51, 51, 51));
  }

  .userProfileIcon {
    font-size: 25px;
  }

}